/*
Font size guide
h1: 48px (Poppins Semibold)
h2/logo: 32px (Poppins Semibold)
main buttons: 15px (Raleway Bold)
landing chips: 14px (Raleway Regular)
metadata chips: 12px (Raleway Regular
h4/subheader: 24px (Poppins Bold)
subtext: 24px (Poppins Semibold)
icons (desktop): 30px
small headline on metadata (h5): 18px (RalewayBold)
*/

:root {
  --color-accent: #ff971d;
  --color-light: #fff6de;
  --color-no: #c01d25;
  --color-yes: #b6ec4b;
  --color-grey: #adadad;
  --color-white: #fff;
  --color-black: #000;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  font-weight: 700;
}

.ff-headers {
  font-family: Poppins, sans-serif;
}

.ff-main {
  font-family: Raleway, sans-serif;
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.bg-color-accent {
  background-color: var(--color-accent);
}

.color-white {
  color: var(--color-white);
}

.drop-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}

.margin-tb-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.margin-t-5 {
  margin-top: 5rem;
}

.button-main {
  display: inline-block;
  text-decoration: none;
  border: 3px var(--color-accent) solid;
  border-radius: 50px;
  padding: 1rem 2rem;
  font-size: 15px;
  font-weight: 700;
  min-width: 271px;
}

.button-main:hover {
  filter: brightness(1.1) saturate(150%);
}

.button-main:active {
  border: 3px var(--color-accent) solid;
  background-color: var(--color-white);
  color: var(--color-accent);
}

.chips-main {
  font-size: 14px;
}

.img-main {
  height: 424px;
}

.img-main img {
  height: 100%;
  object-fit: contain;
}

/* Specific Element CSS rules */
#top-logo:hover {
  cursor: pointer;

  /* Potential future feature: hover over color for logo */

  /* background-image: linear-gradient(60deg, #e21143, #ffb03a);
  background-clip: text;
  color: transparent;
  border-radius: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem; */
}

#dislike-button {
  border-color: var(--color-no);
  background-color: var(--color-white);
  color: var(--color-no);
}

#dislike-button:active {
  border: 3px var(--color-no) solid;
  background-color: var(--color-no);
  color: var(--color-white);
}

#like-button {
  border-color: var(--color-yes);
  background-color: var(--color-yes);
  color: var(--color-white);
}

#like-button:active {
  border: 3px var(--color-yes) solid;
  background-color: var(--color-white);
  color: var(--color-yes);
}
